/***
*
*  1. Caretta Accordion
*       1.1 Accordion Section
*           1.1.1 Accordion Section Title
*           1.1.2 Accordion Section Content
*           1.1.3 Accordion With One Active Element
*
***/

@import 'vars';
/******************    1. Caretta Accordion  ******************/

.accordionWrapper {
    background-color: $white;
    float: left;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 100%;
    /******************    1.1 Accordion Section  ******************/
    
    .accordionItem {
        box-sizing: border-box;
        float: left;
        width: 100%;
        /******************    1.1.1 Accordion Section Title  ******************/
        
        .accordionItemHeading {
            border-bottom: 1px solid $grey-underline;
            color: $black;
            cursor: pointer;
            float: left;
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            padding: 10px 15px 10px 0;
            width: 100%;
            span {
                display: inline-block;
                &:before {
                    content: '';
                    font-family: $material-iconic;
                    padding-right: 5px;
                }
            }
        }
        &.open {
            .accordionItemHeading {
                border-color: $blue;
                span {
                    display: inline-block;
                    padding: 10px 15px 10px 0;
                    &:before {
                        content: '\f2ea';
                    }
                }
            }
            .accordionItemContent {
                height: auto;
                padding: 10px;
            }
        }
        /******************    1.1.2 Accordion Section Content  ******************/
        
        .accordionItemContent {
            box-sizing: border-box;
            float: left;
            height: 0;
            overflow: hidden;
            width: 100%;
        }
    }
    /******************    1.1.3 Accordion With One Active Element  ******************/

    &.oneVisible {
        .accordionItem {
            .accordionItemContent {
                display: none;
            }

            &.open {
                .accordionItemContent {
                    display: block;
                }
            }

            &:not(.open) {
                .accordionItemHeading {
                    display: none;
                }
            }
        }

        &.showHeadings {
            .accordionItem {
                .accordionItemHeading {
                    display: block;
                }
            }
        }
    }
}
