/***
*
*  Breadcrumbs style
*
***/

@import 'vars';

.breadcrumb {
	border-bottom: 1px solid $breadcrumb-border;
	display: block;
    list-style: none;
    margin-bottom: 18px;
	padding: 8px 20px;
	width: 100%;

	li {
    	display: inline-block;

    	a {
    		color: $breadcrumb-color;
    	}

    	&.active a {
    		color: $breadcrumb-active;

			&:hover {
				text-decoration: none;
				cursor: default;
			}
    	}
		&.disabled a:hover {
    		text-decoration: none;
			cursor: not-allowed;
    	}
	}

	>li+li:before {
    	color: $breadcrumb-color;
		content: "/\00a0";
    	padding: 0 5px;
	}
}