/***
*
*  1. Caretta Skeleton Styles
*       1.1 Caretta Main Header
*           1.1.1 Caretta Logo
*       1.2 Caretta Main Area
*           1.2.1 Caretta Main Navigation
*           1.2.1 Caretta Application Area
*  2. Caretta Standard Layouts
*  3. Caretta Generics
*       3.1 Coloration
*       3.2 Hr
*
***/

@import 'vars';
@import 'material-iconic';

/******************    1. Caretta Skeleton Styles  ******************/
html {
	font-family: $roboto;
    font-size: 13px;
    height: 100%;
        line-height: 1.4;
	width: 100%;

    a {
        text-decoration: none;
    }
}

.caretta {
    display: flex;
    flex-direction: column;
	height: 100%;
    width: 100%;

    .right-side {
        padding-top: 20px;
    }

    /******************    1.1 Caretta Main Header  ******************/
    .caretta-header {
        background: $grey-header;
        box-shadow: 0 1px 4px $shadow-header;
        box-sizing: border-box;
	    flex: 0 64px;
	    display: flex;
        height: 70px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
	    z-index: 3;

        /******************    1.1.1 Caretta Logo  ******************/
        .caretta-logo {
            background-color: $grey-logo;
            box-sizing: border-box;
            height: 100%;
            padding: 20px 0 0;
            width: 268px;

            a {
                color: $white;
                display: inline-block;
                font-size: 25px;
                font-weight: 700;
                line-height: 1;
                padding: 0 10px 0 20px;

                span {
                    font-weight: 400;
                }

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
            }
        }
	}


    /******************    1.2 Caretta Main Area  ******************/
    main {
        padding-top: 70px;

        /******************    1.2.1 Caretta Main Navigation  ******************/
        .main-navigation {
            background: $white;
            box-shadow: 0 0 10px $shadow-main-navigation;
            box-sizing: border-box;
            display: inline-block;
            height: 100%;
            position: fixed;
            z-index: 1;
            width: 268px;
        }

        /******************    1.2.1 Caretta Application Area  ******************/
        .main-application {
            background: $grey-light;
            padding: 20px 20px 40px 288px;
            position: relative;
        }

        .caretta-footer {
            bottom: 20px;
            color: $grey-text;
            display: inline-block;
            float: right;
            font-size: 14px;
            position: absolute;
            right: 20px;
            text-align: right;
        }
    }
}

/******************    2. Caretta Standard Layouts  ******************/
.row {
    align-items: flex-start;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

    &.flex-space {
        justify-content: space-between;
    }

    &.flex-stretch {
        align-items: stretch;
    }

    &.flex-center {
        align-items: center;
    }

    >* {
        box-sizing: border-box;
        padding: 10px;
    }

    .col-full {
        width: 100%;
    }

    .col-half {
        width: 49%;
    }

    .col-third {
        width: 32%;
    }

    .col-quart {
        width: 23%;
    }
}

/******************    3. Caretta Generics  ******************/

/******************    3.1. Coloration  ******************/
.bg-white {
    background: $white;
}

/******************    3.2. Hr  ******************/
hr {
	height: 1px;
    border: 0;
    background: $grey-light;
}
