/***
*
*  1. Caretta Tabs
*       1.1 Tabs Navigation
*       1.2 Tabs Content
*
***/

@import 'vars';
/******************    1. Caretta Tabs  ******************/

.caretta-tabs-container {
    margin: 10px 0 20px 0;
    width: 100%;
    /******************    1.1 Tabs Menu  ******************/
    
    .caretta-tabs-nav {
        box-shadow: 0 -2px 0 0  $grey-underline inset;
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        overflow: auto;
        position: relative;
        white-space: nowrap;
        width: 100%;
        >li {
            display: inline-block;
            vertical-align: top;
            a {
                color: $grey-tabs;
                display: block;
                font-weight: 500;
                padding: 15px;
                position: relative;
                text-transform: uppercase;
                &:hover {
                    text-decoration: none;
                }
                &:after {
                    bottom: 0;
                    content: "";
                    height: 2px;
                    left: 0;
                    position: absolute;
                    transform: scale(0);
                    transition: all 250ms ease 0s;
                    width: 100%;
                }
            }
            &.active {
                a {
                    color: $black;
                    &:after {
                        background: $blue
                        ;
                        transform: scale(1);
                    }
                }
            }
        }
    }
    /******************    1.2 Tabs Content  ******************/
    .tab-pane {
        display: none;
        padding: 20px 10px 10px 10px;
        &.active {
            display: block;
        }
    }
}