<!-- Accordion -->
<div class="row flex-space">
   <div class="col-half bg-white">
      <div class="accordionWrapper">
         <div class="accordionItem open">
            <h2 class="accordionItemHeading">
               <span>Section 1</span>
            </h2>
            <div class="accordionItemContent">
               <p>Pellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat vivamus at sweincidunt egetarcu dictum varius duis at consectetur lorem.</p>
            </div>
         </div>
         <div class="accordionItem">
            <h2 class="accordionItemHeading">
               <span>Section 2</span>
            </h2>
            <div class="accordionItemContent">
               <ul>
                  <li>Pellentesque, sit amet venenatis urna c</li>
                  <li>Tincidunt lobortis feugiat vivamu</li>
                  <li>varius duis at consectetur lorem</li>
               </ul>
            </div>
         </div>
         <div class="accordionItem">
            <h2 class="accordionItemHeading">
               <span>Section 3</span>
            </h2>
            <div class="accordionItemContent">
               <p>ellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat.</p>
            </div>
         </div>
      </div>
   </div>
   <div class="col-half bg-white">
      <div class="accordionWrapper oneVisible">
         <div class="accordionItem open">
            <h2 class="accordionItemHeading">
               <span>Section 1</span>
            </h2>
            <div class="accordionItemContent">
               <p>Pellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat vivamus at sweincidunt egetarcu dictum varius duis at consectetur lorem.</p>
            </div>
         </div>
         <div class="accordionItem">
            <h2 class="accordionItemHeading">
               <span>Section 2</span>
            </h2>
            <div class="accordionItemContent">
               <ul>
                  <li>Pellentesque, sit amet venenatis urna c</li>
                  <li>Tincidunt lobortis feugiat vivamu</li>
                  <li>varius duis at consectetur lorem</li>
               </ul>
            </div>
         </div>
         <div class="accordionItem">
            <h2 class="accordionItemHeading">
               <span>Section 3</span>
            </h2>
            <div class="accordionItemContent">
               <p>ellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /Accordion -->