<!-- Accordion -->
<div class="caretta-row flex-space">
   <div class="col-half">
      <h5 id="sectionAccordions">Accordion</h5>
      <!--?prettify lang=html linenums=true?-->
      <pre class="prettyprint lang-html">
         &lt;div class="caretta-accordionWrapper"&gt;
            &lt;div class="caretta-accordionItem open"&gt;
               &lt;h2 class="caretta-accordionItemHeading"&gt;&lt;/h2&gt;
               &lt;div class="caretta-accordionItemContent"&gt;&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="caretta-accordionItem"&gt;
               &lt;h2 class="caretta-accordionItemHeading"&gt;&lt;/h2&gt;
               &lt;div class="caretta-accordionItemContent"&gt;&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="caretta-accordionItem"&gt;
               &lt;h2 class="caretta-accordionItemHeading"&gt;&lt;/h2&gt;
               &lt;div class="caretta-accordionItemContent"&gt;&lt;/div&gt;
            &lt;/div&gt;
         &lt;/div&gt;</pre>
   </div>
   <div class="col-half">
      <h5>Accordion One Item Visible</h5>
      <!--?prettify lang=html linenums=true?-->
      <pre class="prettyprint lang-html">
         &lt;div class="caretta-accordionWrapper oneVisible"&gt;
            &lt;div class="caretta-accordionItem open"&gt;
               &lt;h2 class="caretta-accordionItemHeading"&gt;&lt;/h2&gt;
               &lt;div class="caretta-accordionItemContent"&gt;&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="caretta-accordionItem"&gt;
               &lt;h2 class="caretta-accordionItemHeading"&gt;&lt;/h2&gt;
               &lt;div class="caretta-accordionItemContent"&gt;&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="caretta-accordionItem"&gt;
               &lt;h2 class="caretta-accordionItemHeading"&gt;&lt;/h2&gt;
               &lt;div class="caretta-accordionItemContent"&gt;&lt;/div&gt;
            &lt;/div&gt;
         &lt;/div&gt;</pre>
   </div>
</div>
<div class="caretta-row flex-space">
   <div class="col-half caretta-bg-white">
      <div class="caretta-accordionWrapper">
         <div class="caretta-accordionItem open">
            <h2 class="caretta-accordionItemHeading">
               <span>Section 1</span>
            </h2>
            <div class="caretta-accordionItemContent">
               <p>Pellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat vivamus at sweincidunt egetarcu dictum varius duis at consectetur lorem.</p>
            </div>
         </div>
         <div class="caretta-accordionItem">
            <h2 class="caretta-accordionItemHeading">
               <span>Section 2</span>
            </h2>
            <div class="caretta-accordionItemContent">
               <ul>
                  <li>Pellentesque, sit amet venenatis urna c</li>
                  <li>Tincidunt lobortis feugiat vivamu</li>
                  <li>varius duis at consectetur lorem</li>
               </ul>
            </div>
         </div>
         <div class="caretta-accordionItem">
            <h2 class="caretta-accordionItemHeading">
               <span>Section 3</span>
            </h2>
            <div class="caretta-accordionItemContent">
               <p>ellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat.</p>
            </div>
         </div>
      </div>
   </div>
   <div class="col-half caretta-bg-white">
      <div class="caretta-accordionWrapper oneVisible">
         <div class="caretta-accordionItem open">
            <h2 class="caretta-accordionItemHeading">
               <span>Section 1</span>
            </h2>
            <div class="caretta-accordionItemContent">
               <p>Pellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat vivamus at sweincidunt egetarcu dictum varius duis at consectetur lorem.</p>
            </div>
         </div>
         <div class="caretta-accordionItem">
            <h2 class="caretta-accordionItemHeading">
               <span>Section 2</span>
            </h2>
            <div class="caretta-accordionItemContent">
               <ul>
                  <li>Pellentesque, sit amet venenatis urna c</li>
                  <li>Tincidunt lobortis feugiat vivamu</li>
                  <li>varius duis at consectetur lorem</li>
               </ul>
            </div>
         </div>
         <div class="caretta-accordionItem">
            <h2 class="caretta-accordionItemHeading">
               <span>Section 3</span>
            </h2>
            <div class="caretta-accordionItemContent">
               <p>ellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /Accordion -->