<!-- Alerts -->
<h5 id="sectionAlerts">Alerts</h5>
<!--?prettify lang=html linenums=true?-->
   <pre class="prettyprint lang-html">
      &lt;div class="caretta-alert caretta-alert-success caretta-alert-dismissible" role="alert"&gt;
         &lt;button type="button" class="close" caretta-dismiss="alert"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;

      &lt;div class="caretta-alert caretta-alert-info caretta-alert-dismissible" role="alert"&gt;
         &lt;button type="button" class="close" caretta-dismiss="alert"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;

      &lt;div class="caretta-alert caretta-alert-error caretta-alert-dismissible" role="alert"&gt;
         &lt;button type="button" class="close" caretta-dismiss="alert"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;
      
      &lt;div class="caretta-alert caretta-alert-warning caretta-alert-dismissible" role="alert"&gt;
         &lt;button type="button" class="close" caretta-dismiss="alert"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;</pre>
<div class="caretta-row">
   <div class="caretta-alert caretta-alert-success caretta-alert-dismissible" role="alert">Well done! You successfully read this important alert message.
      <button type="button" class="close" caretta-dismiss="alert"><span aria-hidden="true">×</span></button>
   </div>
</div>
<div class="caretta-row">
   <div class="caretta-alert caretta-alert-info caretta-alert-dismissible" role="alert">Well done! You successfully read this important alert message.
      <button type="button" class="close" caretta-dismiss="alert"><span aria-hidden="true">×</span></button>
   </div>
</div>
<div class="caretta-row">
   <div class="caretta-alert caretta-alert-error caretta-alert-dismissible" role="alert">Well done! You successfully read this important alert message.
      <button type="button" class="close" caretta-dismiss="alert"><span aria-hidden="true">×</span></button>
   </div>
</div>
<div class="caretta-row">
   <div class="caretta-alert caretta-alert-warning caretta-alert-dismissible" role="alert">Well done! You successfully read this important alert message.
      <button type="button" class="close" caretta-dismiss="alert"><span aria-hidden="true">×</span></button>
   </div>
</div>
<!-- /Alerts -->