<!-- Alerts -->
<h5>Alerts</h5>
<!--?prettify lang=html linenums=true?-->
   <pre class="prettyprint lang-html">
      &lt;div class="alert alert-success alert-dismissible" role="alert"&gt;
         &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;

      &lt;div class="alert alert-info alert-dismissible" role="alert"&gt;
         &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;

      &lt;div class="alert alert-error alert-dismissible" role="alert"&gt;
         &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;
      
      &lt;div class="alert alert-warning alert-dismissible" role="alert"&gt;
         &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;</pre>
<div class="row">
   <div class="alert alert-success alert-dismissible" role="alert">Well done! You successfully read this important alert message.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
   </div>
</div>
<div class="row">
   <div class="alert alert-info alert-dismissible" role="alert">Well done! You successfully read this important alert message.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
   </div>
</div>
<div class="row">
   <div class="alert alert-error alert-dismissible" role="alert">Well done! You successfully read this important alert message.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
   </div>
</div>
<div class="row">
   <div class="alert alert-warning alert-dismissible" role="alert">Well done! You successfully read this important alert message.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
   </div>
</div>
<!-- /Alerts -->