<!-- Breadcrumbs -->
 <h5>Breadcrumbs</h5>
 <!--?prettify lang=html linenums=true?-->
    <pre class="prettyprint lang-html">
        &lt;ul class="breadcrumb"&gt;
           &lt;li&gt;&lt;a href="#"&gt;&lt;/a&gt;&lt;/li&gt;
           &lt;li&gt;&lt;a href="#"&gt;&lt;/a&gt;&lt;/li&gt;
           &lt;li class="active"&gt;&lt;/li&gt;
        &lt;/ul&gt;</pre>
 <div class="row">
    <ul class="breadcrumb">
       <li><a href="#">Displays</a></li>
       <li><a href="#">Instance</a></li>
       <li class="active">New Instance</li>
    </ul>
 </div>
 <!-- /Breadcrumbs -->