<!-- Errors -->
<h5 id="sectionErrors">Errors</h5>
<!--?prettify lang=html linenums=true?-->
    <pre class="prettyprint lang-html">
        &lt;p class="error"&gt;&lt;/p&gt;
        &lt;p class="warning"&gt;&lt;/p&gt;</pre>
<p class="error" >This is an error message</p>
<p class="warning" >This is a warning message</p>
<!-- /Errors -->