
                        <!--  ==============  -->
                        <!--  === Footer ===  -->
                        <!--  ==============  -->
                        <footer class="caretta-footer"> &copy; <span class="current-year">2016</span> - Ve Interactive</footer>
