<!-- Grids -->
<h5 id="sectionTables">Tables</h5>
<!--?prettify lang=html linenums=true?-->
<pre class="prettyprint lang-html">
   &lt;div class="caretta-grid-wrapper"&gt;
      &lt;table class="caretta-grid"&gt;
         &lt;thead&gt;
            &lt;tr&gt;
               &lt;th&gt;&lt;/th&gt;
               &lt;th&gt;&lt;/th&gt;
               &lt;th&gt;&lt;i class="sortable"&gt;&lt;/i&gt;&lt;/th&gt;
               &lt;th&gt;&lt;/th&gt;
               &lt;th&gt;&lt;/th&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
               &lt;th&gt;&lt;input type="text" &gt;&lt;/th&gt;
               &lt;th&gt;&lt;input type="text" &gt;&lt;/th&gt;
               &lt;th&gt;&lt;input type="text" &gt;&lt;/th&gt;
               &lt;th&gt;&lt;input type="text" &gt;&lt;/th&gt;
               &lt;th&gt;&lt;input type="text" &gt;&lt;/th&gt;
            &lt;/tr&gt;
         &lt;/thead&gt;
         &lt;tbody&gt;
            &lt;tr&gt;
               &lt;td&gt;&lt;/td&gt;
               &lt;td&gt;&lt;/td&gt;
               &lt;td&gt;&lt;/td&gt;
               &lt;td&gt;&lt;/td&gt;
               &lt;td&gt;&lt;/td&gt;
            &lt;/tr&gt;
         &lt;/tbody&gt;
      &lt;/table&gt;
      
      &lt;!-- Results Pagination --&gt;
      &lt;div class="caretta-grid-pagination"&gt;
         &lt;ul class="caretta-grid-pages"&gt;
            &lt;li&gt;
               &lt;a href="#" title="Previous"&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
               &lt;a class="active" href="#" title="Previous"&gt;1&lt;/a&gt;
            &lt;/li&gt;&lt;li&gt;
               &lt;a href="#" title="Previous"&gt;2&lt;/a&gt;
            &lt;/li&gt;&lt;li&gt;
               &lt;a href="#" title="Next"&gt;&lt;/a&gt;
            &lt;/li&gt;
         &lt;/ul&gt;
      &lt;/div&gt;
      
      &lt;!-- Results Counter --&gt;
      &lt;div class="caretta-grid-results"&gt;
         &lt;button class="active-results"&gt;
            &lt;span&gt;10&lt;/span&gt;
         &lt;/button&gt;
         &lt;button&gt;
            &lt;span&gt;25&lt;/span&gt;
         &lt;/button&gt;
         &lt;button&gt;
            &lt;span&gt;50&lt;/span&gt;
         &lt;/button&gt;
         &lt;button&gt;
            &lt;span&gt;100&lt;/span&gt;
         &lt;/button&gt;
      &lt;/div&gt;
   &lt;/div&gt;</pre>
<div class="caretta-row ">
   <div class="caretta-grid-wrapper">
      <table class="caretta-grid">
         <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Surname <i class="sortable"></i></th>
               <th>Occupation</th>
               <th>Origin</th>
            </tr>
            <tr>
               <th><input type="text" ></th>
               <th><input type="text" ></th>
               <th><input type="text" ></th>
               <th><input type="text" ></th>
               <th><input type="text" ></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>2</td>
               <td>Paul</td>
               <td>Best</td>
               <td>Web Developer</td>
               <td>32</td>
            </tr>
            <tr>
               <td>3</td>
               <td>Gus</td>
               <td>Jefferson</td>
               <td>Teacher</td>
               <td>24</td>
            </tr>
            <tr>
               <td>4</td>
               <td>Helen</td>
               <td>Davies</td>
               <td>Singer</td>
               <td>19</td>
            </tr>
            <tr>
               <td>5</td>
               <td>Anna</td>
               <td>Yellow</td>
               <td>Web Designer</td>
               <td>22</td>
            </tr>
         </tbody>
      </table>
      <!-- Results Pagination -->
      <div class="caretta-grid-pagination">
         <ul class="caretta-grid-pages">
            <li>
               <a href="#" title="Previous"></a>
            </li>
            <li>
               <a class="active" href="#" title="Previous">1</a>
            </li><li>
               <a href="#" title="Previous">2</a>
            </li><li>
               <a href="#" title="Next"></a>
            </li>
         </ul>
      </div>
      
      <!-- Results Counter -->
      <div class="caretta-grid-results">
         <button class="active-results">
            <span>10</span>
         </button>
         <button>
            <span>25</span>
         </button>
         <button>
            <span>50</span>
         </button>
         <button>
            <span>100</span>
         </button>
      </div>
   </div>
</div>
<!-- /Grids -->