<!-- Grid System -->
<h5 id="sectionGridSystem">Grid system</h5>
   <!--?prettify lang=html linenums=true?-->
   <pre class="prettyprint lang-html">
      &lt;div class="caretta-row "&gt;
         &lt;div class="col-full"&gt;&lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="caretta-row flex-space"&gt;
         &lt;div class="col-half"&gt;
         &lt;/div&gt;
         &lt;div class="col-half"&gt;
         &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="caretta-row flex-space"&gt;
         &lt;div class="col-third"&gt;
         &lt;/div&gt;
         &lt;div class="col-third"&gt;
         &lt;/div&gt;
         &lt;div class="col-third"&gt;
         &lt;/div&gt;
      &lt;/div&gt;
      
      &lt;div class="caretta-row flex-space"&gt;
         &lt;div class="col-quart"&gt;
         &lt;/div&gt;
         &lt;div class="col-quart"&gt;
         &lt;/div&gt;
         &lt;div class="col-quart"&gt;
         &lt;/div&gt;
         &lt;div class="col-quart"&gt;
         &lt;/div&gt;
      &lt;/div&gt;</pre>
<div class="caretta-row flex-space">
   <div class="col-full caretta-bg-white caretta-text-center">
      .col-full
   </div>
</div>
<div class="caretta-row flex-space">
   <div class="col-half caretta-bg-white caretta-text-center">
      .col-half
   </div>
   <div class="col-half caretta-bg-white caretta-text-center">
      .col-half
   </div>
</div>
<div class="caretta-row flex-space">
   <div class="col-third caretta-bg-white caretta-text-center">
      .col-third
   </div>
   <div class="col-third caretta-bg-white caretta-text-center">
      .col-third
   </div>
   <div class="col-third caretta-bg-white caretta-text-center">
      .col-third
   </div>
</div>
<div class="caretta-row flex-space">
   <div class="col-quart caretta-bg-white caretta-text-center">
      .col-quart
   </div>
   <div class="col-quart caretta-bg-white caretta-text-center">
      .col-quart
   </div>
   <div class="col-quart caretta-bg-white caretta-text-center">
      .col-quart
   </div>
   <div class="col-quart caretta-bg-white caretta-text-center">
      .col-quart
   </div>
</div>
<!-- /Grid System -->