
        <!-- Add your site or application scripts here -->
        <script src="vendors/pikaday/pikaday.js"></script>
        <script src="dist/js/scripts.min.js"></script>
        <script src="node_modules/handlebars/dist/handlebars.min.js"></script>
        <script src="js/hbs.js"></script>

    </body>
</html>