                        
<!--  ==============  -->
<!--  === Header ===  -->
<!--  ==============  -->
<header class="caretta-header">
  <aside class="left-side">
     <div class="caretta-logo">
        <a href="#" title="VeConfig">Ve<span>Caretta</span></a>
     </div>
  </aside>
  <div class="server-dropdown">
     <div class="caretta-dropdown">
        <a href="#" caretta-toggle="dropdown">Simple Dropdown</a>
        <ul class="caretta-dropdown-content">
           <li><a href="#">Line 1</a></li>
           <li><a href="#">Line 2</a></li>
           <li><a href="#">Line 3</a></li>
        </ul>
     </div>
  </div>
</header>
