<!-- Modals -->
<div id="modal" class="modal" role="dialog">
  <div class="modal-content">
     <div class="modal-header">
        <button class="close" caretta-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
     </div>
     <div class="modal-body">
        <p>Some text in the modal.</p>
     </div>
     <div class="modal-footer caretta-text-right">
        <button class="caretta-btn caretta-btn-default" caretta-dismiss="modal">Close</button>
     </div>
  </div>
</div>
<div id="modalLarge" class="modal modal-lg" role="dialog">
  <div class="modal-content">
     <div class="modal-header">
        <button class="close" caretta-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
     </div>
     <div class="modal-body">
        <p>Some text in the modal.</p>
     </div>
     <div class="modal-footer caretta-text-right">
        <button class="caretta-btn caretta-btn-default" caretta-dismiss="modal">Close</button>
     </div>
  </div>
</div>
<!-- /Modals -->