 <!-- Modals -->
 <h5 id="sectionModals">Modals</h5>
 <!--?prettify lang=html linenums=true?-->
    <pre class="prettyprint lang-html">
        &lt;button class="btn btn-primary" data-toggle="modal" data-modal="modal"&gt;&lt;/button&gt;
        &lt;div id="modal" class="modal" role="dialog"&gt;
            &lt;div class="modal-content"&gt;
                &lt;div class="modal-header"&gt;
                    &lt;button class="close" data-dismiss="modal"&gt;&times;&lt;/button&gt;
                    &lt;h4 class="modal-title"&gt;&lt;/h4&gt;
                &lt;/div&gt;
                &lt;div class="modal-body"&gt;&lt;/div&gt;
                &lt;div class="modal-footer text-right"&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;button class="btn btn-primary" data-toggle="modal" data-modal="modalLarge"&gt;&lt;/button&gt;
        &lt;div id="modalLarge" class="modal modal-lg" role="dialog"&gt;
            &lt;div class="modal-content"&gt;
                &lt;div class="modal-header"&gt;
                    &lt;button class="close" data-dismiss="modal"&gt;&times;&lt;/button&gt;
                    &lt;h4 class="modal-title"&gt;&lt;/h4&gt;
                &lt;/div&gt;
                &lt;div class="modal-body"&gt;&lt;/div&gt;
                &lt;div class="modal-footer text-right"&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;</pre>
 <div class="row btn-demo">
    <button class="btn btn-primary" data-toggle="modal" data-modal="modal">Open modal</button>
    <button class="btn btn-primary" data-toggle="modal" data-modal="modalLarge">Open large modal</button>
 </div>
 <!-- /Modals -->