<!-- Modals -->
<div id="modal" class="caretta-modal" role="dialog">
  <div class="caretta-modal-content">
     <div class="caretta-modal-header">
        <button class="close" caretta-dismiss="modal">&times;</button>
        <h4 class="caretta-modal-title">Modal Header</h4>
     </div>
     <div class="caretta-modal-body">
        <p>Some text in the modal.</p>
     </div>
     <div class="caretta-modal-footer caretta-text-right">
        <button class="caretta-btn caretta-btn-default" caretta-dismiss="modal">Close</button>
     </div>
  </div>
</div>
<div id="modalLarge" class="caretta-modal caretta-modal-lg" role="dialog">
  <div class="caretta-modal-content">
     <div class="caretta-modal-header">
        <button class="close" caretta-dismiss="modal">&times;</button>
        <h4 class="caretta-modal-title">Modal Header</h4>
     </div>
     <div class="caretta-modal-body">
        <p>Some text in the modal.</p>
     </div>
     <div class="caretta-modal-footer caretta-text-right">
        <button class="caretta-btn caretta-btn-default" caretta-dismiss="modal">Close</button>
     </div>
  </div>
</div>
<!-- /Modals -->