<!-- Preloader -->
<h5 id="sectionPreloader">Preloader</h5>
<!--?prettify lang=html linenums=true?-->
<pre class="prettyprint lang-html">
    &lt;div class="loader"&gt;
        &lt;svg class="circular" viewBox="25 25 50 50"&gt;
            &lt;circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/&gt;
        &lt;/svg&gt;
   &lt;/div&gt;</pre>
<div class="caretta-row">
   <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
         <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
   </div>
</div>
<!-- /Preloader -->