
                        <!--  ====================== -->
                        <!--  ====== Sections ======  -->
                        <!--  ======================  -->
                        <nav class="main-navigation left-side">
                        	<ul id="navigationList" class="navigation-list">
                                <li>
                                    <a href="#sectionGridSystem"><i class="zmdi zmdi-view-quilt"></i>Grid System</a>
                                </li>
                                <li>
                                    <a href="#sectionTypography"><i class="zmdi zmdi-format-size"></i>Typography</a>
                                </li>
                                <li>
                                    <a href="#sectionLists"><i class="zmdi zmdi-format-list-bulleted"></i>Lists</a>
                                </li>
                                <li>
                                    <a href="#sectionLinks"><i class="zmdi zmdi-link"></i>Links</a>
                                </li>
                                <li>
                                    <a href="#sectionErrors"><i class="zmdi zmdi-alert-triangle"></i>Errors</a>
                                </li>
                                <li>
                                    <a href="#sectionAlerts"><i class="zmdi zmdi-alert-circle-o"></i>Alerts</a>
                                </li>
                                <li>
                                    <a href="#sectionTabs"><i class="zmdi zmdi-tab"></i>Tabs</a>
                                </li>
                                <li>
                                    <a href="#sectionButtons"><i class="zmdi zmdi-layers"></i>Buttons</a>
                                </li>
                                <li>
                                    <a href="#sectionBreadcrumbs"><i class="zmdi zmdi-swap"></i>Breadcrumbs</a>
                                </li>
                                <li>
                                    <a href="#sectionTooltips"><i class="zmdi zmdi-help-outline"></i>Tooltips</a>
                                </li>
                                <li>
                                    <a href="#sectionAccordions"><i class="zmdi zmdi-view-agenda"></i>Accordions</a>
                                </li>
                                <li>
                                    <a href="#sectionModals"><i class="zmdi zmdi-window-restore"></i>Modals</a>
                                </li>
                                <li>
                                    <a href="#sectionPreloader"><i class="zmdi zmdi-hourglass-alt"></i>Preloader</a>
                                </li>
                                <li>
                                    <a href="#sectionTables"><i class="zmdi zmdi-grid"></i>Tables</a>
                                </li>
                                <li>
                                    <a href="#sectionFormInputs"><i class="zmdi zmdi-check-square"></i>Form Inputs</a>
                                </li>
         					</ul>
                        </nav>