<!-- Side Panel -->
    <h5 id="sectionSidePanel">Side Panel</h5>
    <!--?prettify lang=html linenums=true?-->
        <pre class="prettyprint lang-html">
            &lt;div id="sidePanelWrapper" class="right-hide side-panel-overlay"&gt;
            &lt;div id="sidePanel" class="custom-scroll right-hide side-panel-section"&gt;
                &lt;h3 class="text-left"&gt;
                    &lt;i class="zmdi zmdi-close zmdi-hc-fw" caretta-dismiss="sidePanel" data-side-panel="sidePanel"&gt;&lt;/i&gt;
                    &lt;span id="sidePanelTitle"&gt;&lt;/span&gt;
                &lt;/h3&gt;
                
            &lt;/div&gt;
        &lt;/div&gt;</pre>
    <div class="caretta-row btn-demo">
        <button class="caretta-btn caretta-btn-primary" caretta-toggle="sidePanel" data-side-panel="sidePanel" data-title="Default Title">Show panel</button>
    </div>
<!-- /Side Panel -->