<!-- Side Panel -->
<div id="sidePanelWrapper" class="right-hide side-panel-overlay">
    <div id="sidePanel" class="custom-scroll right-hide side-panel-section">
        <h3 class="text-left">
            <i class="zmdi zmdi-close zmdi-hc-fw" caretta-dismiss="sidePanel" data-side-panel="sidePanel"></i>
            <span id="sidePanelTitle"></span>
        </h3>
        
    </div>
</div>
<!-- /Side Panel -->