<!-- Tooltips -->
 <h5 id="sectionTooltips">Tooltips</h5>
 <!--?prettify lang=html linenums=true?-->
    <pre class="prettyprint lang-html">
      &lt;div class="tooltip"&gt;
         &lt;button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip"&gt;&lt;/button&gt;
         &lt;p class="tooltip-content"&gt;&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class="tooltip"&gt;
         &lt;button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip"&gt;&lt;/button&gt;
         &lt;p class="tooltip-content top"&gt;&lt;/p&gt;
      &lt;/div&gt;

      &lt;div class="tooltip"&gt;
         &lt;button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip"&gt;&lt;/button&gt;
         &lt;p class="tooltip-content right"&gt;&lt;/p&gt;
      &lt;/div&gt;

      &lt;div class="tooltip"&gt;
         &lt;button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip"&gt;&lt;/button&gt;
         &lt;p class="tooltip-content left"&gt;&lt;/p&gt;
      &lt;/div&gt;

      &lt;div class="tooltip"&gt;
         &lt;button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip-click"&gt;&lt;/button&gt;
         &lt;p class="tooltip-content"&gt;&lt;/p&gt;
      &lt;/div&gt;

      &lt;div class="tooltip"&gt;
         &lt;button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip-click"&gt;&lt;/button&gt;
         &lt;p class="tooltip-content top"&gt;&lt;/p&gt;
      &lt;/div&gt;

      &lt;div class="tooltip"&gt;
         &lt;button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip-click"&gt;&lt;/button&gt;
         &lt;p class="tooltip-content right"&gt;&lt;/p&gt;
      &lt;/div&gt;

      &lt;div class="tooltip"&gt;
         &lt;button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip-click"&gt;&lt;/button&gt;
         &lt;p class="tooltip-content left"&gt;&lt;/p&gt;
      &lt;/div&gt;</pre>
 <div class="caretta-row">
    <div class="tooltip">
       <button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip">Tooltip Hover</button>
       <p class="tooltip-content">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip">Top Tooltip Hover</button>
       <p class="tooltip-content top">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip">Right Tooltip Hover</button>
       <p class="tooltip-content right">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip">Left Tooltip Hover</button>
       <p class="tooltip-content left">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip-click">Tooltip Click</button>
       <p class="tooltip-content">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip-click">Top Tooltip Click</button>
       <p class="tooltip-content top">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip-click">Right Tooltip Click</button>
       <p class="tooltip-content right">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="caretta-btn caretta-btn-default" caretta-toggle="tooltip-click">Left Tooltip Click</button>
       <p class="tooltip-content left">This is the <b>tooltip</b> content</p>
    </div>
 </div>
 <!-- /Tooltips -->