<!-- Typography -->
<h5>Headings</h5>
<div id="typography">
   <h1>This is heading 1</h1>
   <h2>This is heading 2</h2>
   <h3>This is heading 3</h3>
   <h4>This is heading 4</h4>
   <h5>This is heading 5</h5>
   <h6>This is heading 6</h6>
   <p>Stylized implementation of HTML's 'abbr' element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a 'title' attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover and to users of assistive technologies.</p>
   <!--?prettify lang=html linenums=true?-->
   <pre class="prettyprint lang-html">
      &lt;p class="text-left"&gt;&lt;/p&gt;
      &lt;p class="text-center"&gt;&lt;/p&gt;
      &lt;p class="text-right"&gt;&lt;/p&gt;
      &lt;p class="text-justify"&gt;&lt;/p&gt;
      &lt;p class="text-lowercase"&gt;&lt;/p&gt;
      &lt;p class="text-uppercase"&gt;&lt;/p&gt;
      &lt;p class="text-capitalize"&gt;&lt;/p&gt;</pre>
   <p class="text-left">Left aligned text.</p>
   <p class="text-center">Center aligned text.</p>
   <p class="text-right">Right aligned text.</p>
   <p class="text-justify">Justified text.</p>
   <p class="text-lowercase">Lowercased text.</p>
   <p class="text-uppercase">Uppercased text.</p>
   <p class="text-capitalize">Capitalized text.</p>
</div>
<!--Typography -->