/***
*
*  1. Caretta Style Variables
*       1.1 Font Families
*       1.2 Colors
*       	1.2.1 Box Shadows Colours
*
***/

/****************** 1. Caretta Style Variables ******************/
	/****************** 1.1 Font Families ******************/
	$material-iconic: 'Material-Design-Iconic-Font';
	$roboto: 'Roboto', sans-serif;

	/****************** 1.2 Colors ******************/
	$grey-logo: #273037;
	$grey-header: #343f48;
	$grey-light: #edecec;
	$grey-text: #333333;
	$white: #ffffff;


	/****************** 1.2.1 Box Shadows ******************/
	$shadow-header: rgba(0, 0, 0, .3);
	$shadow-main-navigation: rgba(51, 51, 51, .38);