/***
*
*  1. Caretta Style Variables
*       1.1 Font Families
*       1.2 Colors
*       	1.2.1 Box Shadows Colours
*
***/

/****************** 1. Caretta Style Variables ******************/
	/****************** 1.1 Font Families ******************/
	$material-iconic: 'Material-Design-Iconic-Font';
	$roboto: 'Roboto', sans-serif;

	/****************** 1.2 Colors ******************/
	$black: #000000;
	$blue: #2196f3;
	$green: #00bcd4;
	$red: #f44336;
	$breadcrumb-active: #7C7C7C;
	$breadcrumb-border: #E5E5E5;
	$breadcrumb-color: #A9A9A9;
	$btn-cancel: #607d8b;
	$btn-primary: #2196f3;
	$grey-logo: #273037;
	$grey-header: #343f48;
	$grey-light: #edecec;
	$grey-tabs: #7a7a7a;
	$grey-text: #333333;
	$grey-underline: #eeeeee;
	$light-blue: #ecf9ff;
	$orange-warning: #ff9800;
	$red-error: #f44336;
	$white: #ffffff;


	/****************** 1.2.1 Box Shadows ******************/
	$shadow-btn: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
	$shadow-header: rgba(0, 0, 0, .3);
	$shadow-main-navigation: rgba(51, 51, 51, .38);