/***
*
*  1. Caretta Alerts
*       1.1 Success
*       1.2 Warning
*       1.3 Error
*       1.4 info
*
***/

@import 'vars';
/******************    1. Caretta Alerts  ******************/

.alert {
    border-radius: 2px;
    font-size: 13px;
    padding: 15px 35px 10px 30px;
}
.alert-dismissible {
    .close {
        background: transparent;
        border: 0;
        color: inherit;
        cursor: pointer;
        float: right;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        opacity: 0.5;
        padding: 0;
        position: relative;
        right: -21px;
        text-shadow: none;
        top: -5px;            
    }
}
/******************    1.1 Success  ******************/

.alert-success {
    background-color: rgba(76, 175, 80, 0.7);
    border-color: transparent;
    color: $white;
}
/******************    1.2 Warning  ******************/

.alert-warning {
    background-color: rgba(255, 193, 7, 0.7);
    border-color: transparent;
    color: #ffffff;
}
/******************    1.3 Error  ******************/

.alert-error {
    background-color: rgba(244, 67, 54, 0.7);
    border-color: transparent;
    color: #ffffff;
}
/******************    1.4 info  ******************/

.alert-info {
    background-color: rgba(33, 150, 243, 0.7);
    border-color: transparent;
    color: #ffffff;
}