/***
*
*  1. Generic buttons
*  2. Button sizes
*  3. Button disabled
*  4. Button block
*  5. Button icon
*  6. Button ripple animation
*
***/

@import 'vars';

.btn {
    border: 0;
    border-radius: 2px;
    box-shadow: $shadow-btn;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    outline: 0;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-out;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
    &:focus {
        opacity: 0.85;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }
}

/******************    1. Generic buttons  ******************/
.btn-default {
	background-color: $white;
	color: $grey-text;
}

.btn-primary {
    background-color: $btn-primary;
}

.btn-cancel {
	background-color: $btn-cancel;
}

.btn-success {
	background-color: $green;
}

.btn-danger {
	background-color: $red;
}

/******************    2. Button sizes  ******************/

.btn-large {
    font-size: 17px;
    line-height: 1.3333333;
	padding: 10px 16px;
}

/******************    3. Button disabled  ******************/

.btn[disabled] {
	cursor: not-allowed;
    opacity: 0.65;
}

/******************    4. Button block  ******************/

.btn-block {
	display: block;
    width: 100%;
}

/******************    5. Button icon  ******************/

.btn {

	i {
	    display: inline-block;
		font-size: 15px;
	    line-height: 100%;
	    margin-right: 5px;
	    margin-top: 2px;
	    vertical-align: top;
	}
}

/************    6. Button ripple animation  ************/
.btn {
    &:after {
        content: "";
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        display: block;
        margin-left: -120%;
        margin-top: -120%;
        opacity: 0;
        padding-left: 240%;
        padding-top: 240%;
        position: absolute;
        transition: all 1s
    }
    
    &:active:after {
        margin-left: 0;
        margin-top: 0;
        opacity: 1;
        padding-left: 0;
        padding-top: 0;
        transition: 0s
    }
}