/***
*
*  1. Caretta Navigation
*
***/

/****************** 1. Caretta Navigation ******************/
@import 'vars';

.navigation-list {
	list-style: none;
	padding: 0;

	> li {

		> a {
			color: $grey-text;
		    display: block;
		    font-size: 13px;
		    font-weight: 500;
		    padding: 14px 20px 14px 52px;
		    position: relative;

		    &:hover {
		    	text-decoration: none;

		    	i {
		    		opacity: 1;
		    	}
		    }

		    i {
		    	font-size: 20px;
    			left: 16px;
    			opacity: 0.7;
    			padding: 13px 0;
    			position: absolute;
    			text-align: center;
    			top: 0;
    			width: 25px;
		    }
		}

		&.has-submenu {

			> a:before {
				backface-visibility: hidden;
    			color: $grey-text;
    			content: '\002b';
    			font-family: 'Material-Design-Iconic-Font';
    			font-size: 17px;
    			font-weight: 700;
    			position: absolute;
    			right: 15px;
			    top: 10px;
			    transform: scale(1);
			    transition: all 250ms ease 0s;
			}

			&.open {

				> a:before {
					content: '\2212';
				}

				ul {
					display: block;
				}
			}
		}

		ul {
			display: none;
			list-style: none;
			padding: 0;

			li {

				a {
					background-color: $white;
				    color: $grey-tabs;
				    display: block;
				    font-size: 13px;
				    font-weight: 500;
				    padding: 8px 20px 8px 50px;

				    &:hover {
				    	color: $grey-text;
				    	text-decoration: none;
				    }
				}
			}
		}
	}
}