/***
*
*  Common styles for demo page
*
***/
@import 'vars';

.simple-dropdown {
	padding: 25px;

	>a {
		color: $white;
		font-size: 14px;
	}
}

.customer-dropdown {

	.dropdown-content {
		width: 350px;
	}
}

.btn-demo {
	.btn {
		margin-right: 15px;
	}
}

.tooltip {
	margin-right: 15px;

	.btn {
		margin-right: 0;
	}
}

.demo-form {
	
	label {
		display: block;
	}
}

.m20-b {
	margin-bottom: 20px;

	> span {
		display: block;
		margin-bottom: 10px;
	}
}

body pre.prettyprint {
	background: $white;
	border: none;
	box-shadow: $shadow-btn;
	margin-bottom: 5px;
	padding: 5px;
}
