<!-- Equal Heights -->
<div class="equal-height" style="background: red">nas a interdum turpis. Sed efficitur congue</div>

<div class="equal-height" style="background: green">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum, nunc eget efficitur sodales, ex nunc luctus tortor, ac accumsan ex augue sed dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In mattis id est non eleifend. Vestibulum ut gravida tellus. Morbi varius elit id nisi varius hendrerit. Maecenas a interdum turpis. Sed efficitur congue purus ac egestas. Pellentesque viverra mauris metus, ac consectetur nulla finibus at. Nam maximus rhoncus nunc, ac dignissim ligula gravida ut. Aliquam viverra placerat metus eu condimentum. Fusce porttitor nibh nec mi placerat, quis euismod justo mattis.</div>
<!-- /Equal Heights -->