<!-- Grid System -->
<h5>Grid system</h5>
<div class="row flex-space">
   <div class="col-full bg-white">
   </div>
</div>
<div class="row flex-space">
   <div class="col-half bg-white">
   </div>
   <div class="col-half bg-white">
   </div>
</div>
<div class="row flex-space">
   <div class="col-third bg-white">
   </div>
   <div class="col-third bg-white">
   </div>
   <div class="col-third bg-white">
   </div>
</div>
<div class="row flex-space">
   <div class="col-quart bg-white">
   </div>
   <div class="col-quart bg-white">
   </div>
   <div class="col-quart bg-white">
   </div>
   <div class="col-quart bg-white">
   </div>
</div>
<!-- /Grid System -->