<!-- Grids -->
<div class="row">
   <div class="caretta-grid-wrapper">
      <table class="caretta-grid">
         <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Surname <i class="sortable"></i></th>
               <th>Occupation</th>
               <th>Origin</th>
            </tr>
            <tr>
               <th><input type="text" ></th>
               <th><input type="text" ></th>
               <th><input type="text" ></th>
               <th><input type="text" ></th>
               <th><input type="text" ></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>2</td>
               <td>Paul</td>
               <td>Best</td>
               <td>Web Developer</td>
               <td>32</td>
            </tr>
            <tr>
               <td>3</td>
               <td>Gus</td>
               <td>Jefferson</td>
               <td>Teacher</td>
               <td>24</td>
            </tr>
            <tr>
               <td>4</td>
               <td>Helen</td>
               <td>Davies</td>
               <td>Singer</td>
               <td>19</td>
            </tr>
            <tr>
               <td>5</td>
               <td>Anna</td>
               <td>Yellow</td>
               <td>Web Designer</td>
               <td>22</td>
            </tr>
         </tbody>
      </table>
      <!-- Results Pagination -->
      <div class="caretta-grid-pagination">
         <ul class="caretta-grid-pages">
            <li>
               <a href="#" title="Previous"></a>
            </li>
            <li>
               <a class="active" href="#" title="Previous">1</a>
            </li><li>
               <a href="#" title="Previous">2</a>
            </li><li>
               <a href="#" title="Next"></a>
            </li>
         </ul>
      </div>
      
      <!-- Results Counter -->
      <div class="caretta-grid-results">
         <button class="active-results">
            <span>10</span>
         </button>
         <button>
            <span>25</span>
         </button>
         <button>
            <span>50</span>
         </button>
         <button>
            <span>100</span>
         </button>
      </div>
   </div>
</div>
<!-- /Grids -->