<!-- Grid System -->
<h5>Grid system</h5>
<div class="row flex-space">
   <div class="col-full bg-white text-center">
      .col-full
   </div>
</div>
<div class="row flex-space">
   <div class="col-half bg-white text-center">
      .col-half
   </div>
   <div class="col-half bg-white text-center">
      .col-half
   </div>
</div>
<div class="row flex-space">
   <div class="col-third bg-white text-center">
      .col-third
   </div>
   <div class="col-third bg-white text-center">
      .col-third
   </div>
   <div class="col-third bg-white text-center">
      .col-third
   </div>
</div>
<div class="row flex-space">
   <div class="col-quart bg-white text-center">
      .col-quart
   </div>
   <div class="col-quart bg-white text-center">
      .col-quart
   </div>
   <div class="col-quart bg-white text-center">
      .col-quart
   </div>
   <div class="col-quart bg-white text-center">
      .col-quart
   </div>
</div>
<!-- /Grid System -->