<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-GB"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-GB"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

        <title>VeCaretta</title>
        <meta name="description" content="VeCaretta Front End Framework">
        <meta name="keywords" content="front, end, framework">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="60x60" href="public/images/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="57x57" href="public/images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="public/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="public/images/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="public/images/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="public/images/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="public/images/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="public/images/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="public/images/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="public/images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="public/images/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="public/images/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="public/images/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="public/images/manifest.json">
        <link rel="mask-icon" href="public/images/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="viewport" content="width=device-width">
        <meta name="msapplication-TileImage" content="public/images/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- /Favicon -->

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=greek,latin-ext,vietnamese" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="public/css/caretta.min.css" rel="stylesheet" type="text/css" />

    </head>