                        
<!--  ==============  -->
<!--  === Header ===  -->
<!--  ==============  -->
<header class="caretta-header">
  <aside class="left-side">
     <div class="caretta-logo">
        <a href="#" title="VeConfig">Ve<span>Config</span></a>
     </div>
  </aside>
  <div class="server-dropdown">
     <div class="simple-dropdown">
        <a href="#" data-toggle="dropdown">Simple Dropdown</a>
        <ul class="dropdown-content">
           <li><a href="#">Line 1</a></li>
           <li><a href="#">Line 2</a></li>
           <li><a href="#">Line 3</a></li>
        </ul>
     </div>
  </div>
  <div class="customer-dropdown">
     <div class="simple-dropdown">
        <a href="#" data-toggle="dropdown">Customer Dropdown</a>
        <div class="dropdown-content">
           <h2 class="dropdown-header">All Customers</h2>
           <ul id="customersList">
              <li><a href="#">Customer 1</a></li>
              <li><a href="#">Customer 2</a></li>
              <li><a href="#">Customer 3</a></li>
           </ul>
        </div>
     </div>
  </div>
</header>
