 <!-- Modals -->
 <h5>Modals</h5>
 <div class="row btn-demo">
    <button class="btn btn-primary" data-toggle="modal" data-modal="modal">Open modal</button>
    <button class="btn btn-primary" data-toggle="modal" data-modal="modalLarge">Open large modal</button>
 </div>
 <!-- /Modals -->