<!-- Tabs -->
<h5>Tabs</h5>
<div id="tabs-container" class="tabs-container bg-white">
   <ul id="nav-tab" class="tabs-nav">
      <li class="active"><a href="#tab1">Tab 1</a></li>
      <li><a href="#tab2">Tab 2</a></li>
      <li><a href="#tab3">Tab 3</a></li>
      <li><a href="#tab4">Tab 4</a></li>
   </ul>
   <!-- Tab panes -->
   <div class="tab-content">
      <div class="tab-pane active" id="tab1">
         <p>Pellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat vivamus at sweincidunt egetarcu dictum varius duis at consectetur lorem.</p>
      </div>
      <div class="tab-pane" id="tab2">
         <p>Pellentesque, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat vivamus at sweincidunt egetarcu dictum varius duis at consectetur lorem. Vitae elementum curabitur sodales nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egesta elementum pharetra convallis posuere morbi leo urna, at elementum eu, facilisis sed odio morbi quis commodo odio. In cursus lorem ipsum turpis massa tincidunt dui ut. nunc sed velit dignissim sodales ut eu sem integer suremlco.</p>
      </div>
      <div class="tab-pane" id="tab3">
         <p>Pellentesque, facilisis sed odio morbi quis commodo odio. In cursus lorem ipsum turpis massa tincidunt dui ut. nunc sed velit dignissim sodales ut eu sem integer suremlco.</p>
      </div>
      <div class="tab-pane" id="tab4">
         <p>Pellentesque, sit amet veneu, facilisis sed odio morbi quis commodo odio. In cursus lorem ipsum turpis massa tincidunt dui ut. nunc sed velit dignissim sodales ut eu sem integer suremlco.</p>
      </div>
   </div>
</div>
<!-- /Tabs -->