<!-- Tooltips -->
 <h5>Tooltips</h5>
 <div class="row">
    <div class="tooltip">
       <button class="btn btn-default" data-toggle="tooltip">Tooltip Hover</button>
       <p class="tooltip-content">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="btn btn-default" data-toggle="tooltip">Top Tooltip Hover</button>
       <p class="tooltip-content top">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="btn btn-default" data-toggle="tooltip">Right Tooltip Hover</button>
       <p class="tooltip-content right">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="btn btn-default" data-toggle="tooltip">Left Tooltip Hover</button>
       <p class="tooltip-content left">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="btn btn-default" data-toggle="tooltip-click">Tooltip Click</button>
       <p class="tooltip-content">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="btn btn-default" data-toggle="tooltip-click">Top Tooltip Hover</button>
       <p class="tooltip-content top">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="btn btn-default" data-toggle="tooltip-click">Right Tooltip Hover</button>
       <p class="tooltip-content right">This is the <b>tooltip</b> content</p>
    </div>
    <div class="tooltip">
       <button class="btn btn-default" data-toggle="tooltip-click">Left Tooltip Hover</button>
       <p class="tooltip-content left">This is the <b>tooltip</b> content</p>
    </div>
 </div>
 <!-- /Tooltips -->