{{> html_start }}

    <body class="caretta">
   
   {{> masthead }}

   <main>

      {{> sections }}

      <section class="main-application right-side">
         {{> grid_system}}
         <hr>
         {{> typography}}
         <hr>
         {{> lists}}
         <hr>
         {{> links}}
         <hr>
         {{> errors}}
         <hr>
         {{> alerts}}
         <hr>
         {{> tabs}}
         <hr>
         {{> buttons}}
         <hr>
         {{> breadcrumbs}}
         <hr>
         {{> tooltips}}
         <hr>
         {{> accordions}}
         <hr>
         {{> modals}}
         <hr>
         {{> preloader}}
         <hr>
         {{> grids}}
         <hr>
         {{> forms}}
         <hr>
         {{> footer }}
         <hr>
         {{> navigation }}
      </section>

      <script id="navigation-hbs" type="text/x-handlebars-template">
         {{#each navItems}}
            <li>{{ title }}</li>
         {{/each}}
      </script>
      
   </main>
         {{> modals_popup}}

{{> html_end }}
