{{> html_start }}

    <body class="caretta">
   
   {{> masthead }}

   <main>

      {{> sections }}

      <section class="main-application right-side">
         {{> grid_system}}
         <hr>
         {{> typography}}
         <hr>
         {{> lists}}
         <hr>
         <!-- Links -->
         <h5>Links</h5>
         <a href="#" title="This is a link">This is a link</a>
         <!-- /Links -->
         <hr>
         {{> errors}}
         <hr>
         {{> alerts}}
         <hr>
         {{> tabs}}
         <hr>
         {{> buttons}}
         <hr>
         {{> breadcrumbs}}
         <hr>
         {{> tooltips}}
         <hr>
         {{> accordions}}
         <hr>
         {{> modals}}
         <hr>
         {{> preloader}}
         <hr>
         {{> grids}}
         <hr>
         {{> equal_height}}
         {{> footer }}
      </section>
      
   </main>
         {{> modals_popup}}

{{> html_end }}
